<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    body{
      background-image: url(https://cdn.pixabay.com/photo/2018/05/31/10/57/africa-3443656__340.jpg);
      background-repeat: no-repeat;
      background-size: cover;

    }
    .container{
        border-style: none;
    }
    .az{
      background-image: url(https://cdn.pixabay.com/photo/2013/07/26/06/05/leaves-167478__340.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 9px;
      text-align: center;
      width: 200px;
      margin-bottom: 50px;
    }
    .form-control{
      text-align: center;
      border-radius: 10px;
      font-size: 20px;
    }
    label{
      font-size: 22px;
      font-family: all;
      font-style: oblique;
    }
    h2{
      font-style: italic;
      font-family: all;
    }
   h3{
   font-family: all;
   font-style: oblique;

   }
   .btn{
    background-color: blue;    
   }


  </style>
</head>
<body>
  <div class="container">
    <div class="row">

        <div class="col-md-4">
          
        </div>

        <div class="col-md-5 az">
             <h2>Edit <%= resource_name.to_s.humanize %></h2>

       <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
            <div class="field">
              <label for="inputname">First name</label>
                 <%= f.text_field :first_name , autofocus: true, autocomplete: "first_name",placeholder:"first_name", :class=>"form-control" %>
               
            </div>
              <div class="field">
              <label for="inputname">last name</label>
             <%= f.text_field :last_name , autofocus: true, autocomplete: "last_name", placeholder: "last_name", :class=>"form-control" %>
            
             </div>
             <div class="field">
              <label for="inputemail"> email</label>
             <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"email", :class=>"form-control" %>
             
            </div>

            <div class="field">
               <label for="inputaddress"> address</label>
             <%= f.text_field :address, autofocus: true, autocomplete: "address", :class=>'zone', :id=>"inputaddress", :class=>"form-control", :placeholder=>"lot...ville" %> 
             
             </div>

               <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                 <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "new-password", :class=>"form-control" %>
                 <% if @minimum_password_length %>
                   <br />
                   <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                  </div>

                  <div class="field">
                    <%= f.label :password_confirmation %><br />
                     <%= f.password_field :password_confirmation, autocomplete:"new-password", :class=>"form-control"  %>
                    </div>

                     <div class="field">
                       <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                     <%= f.password_field :current_password, autocomplete:"current-password", :class=>"form-control"  %>
                    </div><br>

                       <div class="actions">
                      <%= f.submit "Update" %>
                      </div>
                        <% end %>
                      <h3>Cancel my account</h3>
                      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ,class: "btn primary"%></p>
                    <%= link_to "Back", :back %>
        </div>
        
        <div class="col-md-4">
          
        </div>
      
    </div>
    
  </div>
</body>
</html>






                