<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Bonjour <%= @user.email %> et merci pour votre commande !</h1>
	<p>
		Vous venez juste de confirmer votre commande!
	</p>
	<p>Voilà votre commande :</p>
	
	<!-- We do a loop in order to display in the mail the title and the image -->
	<% @cart_products_command.each do |product| %>
	<h2>
		<%= product.title %>
	</h2>
	<p>
		<img src="<%= product.image_url%>" width="600" height="auto" alt="<%= product.title%> image">
	</p>
	<% end %>
	<p>
		 Bonne visite sur notre site <a href="<%=@url%>"><%=@url%></a> !
	</p>
</body>
</html>