<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inscription</title>


  <style type="text/css">
/* @extend list-type-ulli; */
body{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS54IBhtPTRqHwijvnHKXwXw-8RgmVS3eT3xb1sXWNxWo9bkM3KDA)
}
h2 {
  line-height: 1.56;
  margin-bottom:20px;
  padding: 0;
  font-weight: 900;
  color: #222;
  font-family: 'Montserrat';
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px; }
.clear {
  clear: both; }
.signup-content {
  background: GoldenRod;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  padding: 50px 85px;
  margin-top: 40px;
   }
.form-group {
  overflow: hidden;
  margin-bottom: 10px; }
.form-input {
  width: 100%;
  height: 40px;
  border: 0.5px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #222; 
  background-color: transparent;
  outline: none;
  }
  .signup{
    padding-top: 16px;
  }
@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 40px);
    max-width: 100%; } }
@media screen and (max-width: 480px) {
  .signup-content {
    padding: 25px 20px; } }
  .color{
    color: black;
  }
 </style>

</head>
<body>

    <div class="main">

        <section class="signup">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  
                </div>
                <div class="col-md-6">
                  <div class="signup-content">
                   <%= form_tag url_for(action: "update"), method: "put" do |f| %>
                        <h2 class="form-title">Editez votre profil</h2>
                        <div class="form-group">
                           <%= text_field_tag 'first_name', current_user.first_name, class: 'form-control', :class=>'form-input'%>
                    
                            
                        </div>

                        <div class="form-group">
                             <%= text_field_tag 'last_name', current_user.last_name, class: 'form-control', :class=>'form-input'%>
                            
                           
                        </div>

                        <div class="form-group">
                            <%= text_field_tag 'email', current_user.email, class: 'form-control', :class=>'form-input'%>
                            
                           
                        </div><br>
                        <div>
                        <p class="color">Devenir Fournisseur   <%= check_box_tag :is_admin,1, @user.is_admin , data: {url: user_path(@user.id), params:{ id:@user.id, is_admin: @user.is_admin}.to_param, method: "put", class: 'form-control' }%>
                        </div></p>

                
                      <center>
                      <%= link_to "Accueil", root_path , class: "btn btn-sm btn-secondary"%>
        
                       <%= submit_tag "Modifier le profil", class: 'btn btn-sm btn-secondary' %>
                      </center>
                 <%end%>


                </div>
                </div>
                
              </div>
                
            </div>
        </section>

    </div>

</body>

</html>
