<!DOCTYPE html>
<html>
		<head>
			<title>forgot password</title>

			<style type="text/css">
				body{
				background-image: url(https://cdn.pixabay.com/photo/2015/09/01/21/00/coffee-917613__340.jpg);
				background-repeat: no-repeat;
				background-size: cover;
 				}
				
				.container{
					width: 500px;
					
				}

				.field{
						margin-bottom: 10px; 
				}

				.input{

					width: 100%;
					height: 40px;
					background-color: transparent;
					border-color: black;
					border-top: none;
					border-left: none;
					border-right: none;
				}
				.input:focus{
					outline: none;
				}

				.actions{
					margin-top: 50px;

				}
				.submit{
					border-radius: 7px;
				}


				.row{
					background-image:url(https://cdn.pixabay.com/photo/2016/10/22/20/34/wine-1761613__340.jpg); 
					background-size: cover;
					background-repeat: no-repeat;
					height: 575px;
					border-radius: 20px;
					box-shadow: 3px 3px grey;
					padding-top: 10px;
					
					margin-bottom: 25px;		
				}
				h2{
					font-size: 30px;
					font-style: italic;

				}
				.actions{
					font-size: 22px;
				}

			</style>
		</head>

		<body>
			<div class="container">
				
				<div class="row">
					<div class="col-md-2">
						

					</div>

					<div class="col-md-8">
						<br><h2>Forgot your password?</h2><br>

						<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  					<%= render "devise/shared/error_messages", resource: resource %>
							
							<div class="field">
								
		 						<%= f.text_field :first_name , autofocus: true, autocomplete: "first_name", class: 'form-control', :class=>"input", :placeholder=>"first name" %>
							</div>

							<div class="field">
					
		    					<%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'form-control', :class=>"input",:placeholder=>"email" %>
							</div>

							<div class="actions">
								
		    						<%= f.submit "Send me reset password instructions", :class=>"submit" %><br><br>
		    						
		  					
		  					<%= render "devise/shared/links" %><br>
						<% end %>
							</div>
						

					</div>

					<div class="col-md-2">
						

					</div>

				</div>

			</div>
				
					

		</body>
</html>


 

