<%= render 'layouts/super_admin_nav' %>
<div class="container">

<table class="table table-bordered table-dark">
	<h2>Listes des produits en attente</h2>
	  <thead>
	    <tr>
	     
	      <th scope="col">Titre</th>
	      <th scope="col">Prix</th>
	      <th scope="col">Image</th>
	      <th scope="col">Description</th>
	      <th scope="col">Fournisseur</th>
	      <th scope="col">Action</th>
	    </tr>
	  </thead>
	  <tbody>
	      <% @products.each do |product|%>
	    <tr>
	  
	      <td><%=product.title%></td>
	      <td><%=product.price%>Ar</td>
	      <td><%if product.picture.attached?%>
               <%= image_tag product.picture, alt: 'picture', class:"card-img-top", height: "200px"%>
            <%else%>
              <img class="card-img-top" height="300px" src="<%= product.image_url %>" alt="Card image cap" height="200px">
            <%end%></td>
            <td><%= product.description%></td>
	      <td><%= product.provider.first_name%></td>
	      <td><a href="/super_admin/products/<%=product.id%>" data-method="put" class="btn btn-success btn-sm">Valider</a><br><br>
	      	<a href="/super_admin/products/<%=product.id%>" data-method="delete" class="btn btn-danger btn-sm">Refuser</a></td>
	    </tr>
	      <%end%>
	  </tbody>
</table>
</div>
