<center><h1 style="margin-top:50px;">Your cart</h1></center>
<%if @price_total != 0%>
<center><strong>Prix total: <%=@price_total%> €</strong><br/> 
 	<<%= link_to "Buy now", new_charge_path, class: "btn btn-sm btn-success"%></center>
 	<%else%>
 	<center><strong>Panier vide</strong></center>
<%end%>
	
<div class="container">



	<div class="row" style="margin-top: 50px;">
	
	<%@cart_products.each do |cart_product|%>
	<div class="col-md-4">
		<%= image_tag cart_product.image_url, class: "rounded-circle", width: "100%", heigth: "100%" %>
		<div style="text-align: center;margin-top: 30px;">
			<p><strong>Title: <%=cart_product.title%></strong></p>
	 	
		 	<p><strong>Price: <%=cart_product.price%> €</strong></p>
			 <a href="<%=cart_path(cart_product.id)%>" data-method="delete" class="btn btn-sm btn-danger" data-confirm="Are you sure to delete your carts??">Enlever le panier</a>
		</div>
	 	

	</div>
	 

	<%end%>
</div>
</div>
