
<div class="container">
				
				<div class="row">

					<!-- Start of the items loop -->
					<% @products.order(created_at: :desc).each do |product| %>
					<!-- For each item, we create a column and a card -->
					<div class="col col-4 mt-5">
						<div class="card shadow mb-3">
							<!-- Item title -->
							<h5 class="card-header"><%= product.title.truncate(30) %></h5>
							<!-- Item image -->
							<%if product.picture.attached?%>
      							<%= image_tag product.picture, alt: 'picture', class:"card-img-top" %>
      							<%else%>
							<img class="card-img-top" height="200px" src="<%= product.image_url %>" alt="Card image cap">
							<%end%>
							<div class="card-body">
								<!-- Item description -->
								<p class="card-text"><%= product.description %></p>
								<!-- Button to item -->
								<%= link_to "Voir produit", admin_product_path(product.id), class: "btn btn-warning btn-sm" %>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</main>
	</div>
</div>