<div class="container">			
			<div class="col col-8 mx-auto text-dark">
					<h2 class="mt-3"><%= @product.title %></h2>

					<%if @product.picture.attached?%>
				    	<%= image_tag @product.picture, alt: 'picture', class:"card-img-top"%>
				    <%else%>
						<img class="card-img-top" width="100px" height="300px" src="<%= @product.image_url %>" alt="Card image cap">
					<%end%>
					
					
					<ul class="list-group list-group-flush mb-3 mt-3">
						<li class="list-group-item"><%=@product.description %></li>
						<li class="list-group-item"><%=@product.price %> Ar</li>
					</ul><br><br>

					<%= link_to "Editer", edit_admin_product_path(@product.id), class: "btn btn-primary" %>
					<%= link_to 'Supprimer', admin_product_path(@product.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger ml-3" %>
		   </div>			
</div>

