<div class="site-wrap">
    <%= render "layouts/nav"%>

   <div class="site-blocks-cover" style="background-image: url('https://cdn.pixabay.com/photo/2015/09/21/14/24/supermarket-949913__340.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
            <div class="site-block-cover-content text-center">
              <h2 class="sub-title">Idée Voandalana</h2>
              <h1>FAITES VOTRE ACHAT EN LIGNE</h1>
              <p>
                <a href="#acheter" class="btn btn-warning px-5 py-3" data-method="get">ACHETER MAINTENANT</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row align-items-stretch section-overlap">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap bg-primary h-100">
              <a href="#" class="h-100">
                <h5>Livraison <br> à Domicile</h5>
                <p>
                  Partout dans le monde
                  <strong>Faites-vous livrer dans les plus brefs délais.</strong>
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap h-100">
              <a href="#" class="h-100">
                <h5>Produits <br> de meilleurs qualités</h5>
                <p>
                  La qualité au coeur de nos produits
                  <strong>Une offre large de produits de qualité aux meilleurs prix.</strong>
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap bg-warning h-100">
              <a href="#" class="h-100">
                <h5>Paiment <br> en ligne</h5>
                <p>
                  Moyen de paiement en ligne sécurisé
                  <strong>Payez vos achats par carte bleue ou par OrangeMoney.  </strong>
                </p>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2 class="text-uppercase"><%= @category.title%></h2>
            <div class="row">
            <%prod = []%>
          <%@products.order(created_at: :ASC).each do |product|%>
          <%if product.category == @category%>
            <%prod << product%>
          <%end%>
          <%end%>
           <%if prod.length == 0%>
            <h3>Pas de produits pour <%= @category.title%></h3>
           <%else%>

          <% for i in 0..prod.length-1%>

          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <span class="tag">Sale</span>
                <%if prod[i].picture.attached?%>
                 <a href="/products/<%=prod[i].id%>" data-method="get"><%= image_tag prod[i].picture, alt: 'picture', class:"card-img-top", height:"300px" %></a>
                <%else%>
                 <a href="/products/<%=prod[i].id%>" data-method="get"><img class="card-img-top" height="300px" src="<%= prod[i].image_url %>" alt="Card image cap"></a>
                 <%end%>
                <h3 class="text-dark"><a href="/products/<%=prod[i].id%>" data-method="get"><%= prod[i].title%></a></h3>
                <p class="price"><%= prod[i].price%></p>
                <a href="<%= carts_path(prod[i].id)%>" class="btn btn-warning btn-sm" data-method="post">Ajouter au panier</a>
          </div>
          <%end%>
          <%end%>

      </div>
          </div>
        </div>
       
    </div>


   <div class="site-section bg-secondary bg-image" style="background-image: url('https://www.mafermeenville.fr/wp-content/uploads/2017/09/ma-ferme-en-ville-fruits-et-legumes-800x600.jpg');">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('https://www.mafermeenville.fr/wp-content/uploads/2017/09/ma-ferme-en-ville-fruits-et-legumes-800x600.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>MadaMarket</h2>
                <p style="color:black;">Une entreprise digitale pour la promotion des produits locaux malagasy.
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('http://www.floralykomba.com/uploads/images/excursion/vil2.jpg');">
              <div class="banner-1-inner ml-auto  align-self-center">
                <h2>Partenaires des artisans</h2>
                <p style="color:black;">Porter ensemble un engagement mutuel pour le développement des entreprises artisanales.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <span id="contact">
       <%= render 'layouts/footer'%>
    </span>
  </div>
