	<div class="container">
				<div class="row">	
					<%@products.each do |product|%>
					<%if product.provider == current_user%>
					<%product.cartProducts.each do |cartProduct|%>
					<div class="col col-5 card my-2 mx-auto p-3 shadow">	
					
				<!-- We display each user in the dashboard -->
						<p>
							<%= "ID: #{cartProduct.cart.customer.id}" %><hr>				
							<%= cartProduct.cart.customer.first_name %>
							<%= "#{cartProduct.cart.customer.last_name}" %> <br>
							<%= cartProduct.cart.customer.email %> <br>
						</p>	

					
					</div> 
					<%end%>
					<%product.commandProducts.each do |commandProduct|%>
						<p>Votre commande:  <%=commandProduct.command.product.title%></p>
					<%end%>
					<%end%>
					<%end%>
				</div>
			</div>

	</div>
</div>
