<% if user_signed_in? %>
      <% if current_user.is_super_admin == true %>
         <%= render 'layouts/super_admin_nav' %>

      <%else%>
         <%= render 'layouts/nav' %>
         <style type="text/css">
      z-index: 10;
}
#search-btn:hover {
  cursor: pointer;
  /*color: gold;*/
  background-color: #ffc107;
}
.a{
   margin-left: 85%;
   
}
.input-group-addon{
  margin-left: 450px;
 
  margin-top: -72.5px;
}
</style>



<div class="site-wrap">

</div>

    <div class="site-blocks-cover" style="background-image: url('https://www.missions-mmm.com/wp-content/uploads/2019/04/francfort-dusseldorf-retail-store-tour-allemagne-missions-mmm-tendances-bio-2.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
            <div class="site-block-cover-content text-center">
              <h2 class="sub-title"  id="body">Idée Voandalana</h2>
              <h1>FAITES VOS ACHATS EN LIGNE</h1>
              <p>
                <a href="#acheter" class="btn btn-warning px-5 py-3" data-method="get">ACHETER MAINTENANT</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row align-items-stretch section-overlap">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap bg-primary h-100">
              <a href="#" class="h-100">
                <h5>Livraison <br> à Domicile</h5>
                <p>
                  Partout dans le monde
                  <strong>Faites-vous livrer dans les plus brefs délais.</strong>
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap h-100">
              <a href="<%= accueil_index_path%>" class="h-100">
                <h5>Produits <br> de meilleures qualités</h5>
                <p>
                  La qualité au coeur de nos produits
                  <strong>Une offre large de produits de qualité aux meilleurs prix.</strong>
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <%if current_user%>
            <div class="banner-wrap bg-warning h-100">
              <a href="<%= cart_path(current_user.id)%>" class="h-100">
                <h5>Paiement <br> en ligne</h5>
                <p>
                  Moyen de paiement en ligne sécurisé
                  <strong>Payez vos achats par carte bleue. </strong>
                </p>
              </a>
            </div>
            <%else%>
              <div class="banner-wrap bg-warning h-100">
              <a href="<%= root_path%>" class="h-100">
                <h5>Paiement <br> en ligne</h5>
                <p>
                  Moyen de paiement en ligne sécurisé
                  <strong>Payez vos achats par carte bleue. </strong>
                </p>
              </a>
            </div>
            <%end%>
          </div>

        </div>
      </div>
    </div><br><br>

  <div class="row">
    <form class="form" >
      <div class="input-group-addon">
          <%= search_form_for @q do |f| %>
           <%= f.text_field :title_cont, class:"form-control", placeholder:"Recherche",type: "text" , id: "mysearch" %>
     <button class="btn btn-warning btn-sm input-group-addon " type="submit" id="search-btn"><i class="fa fa-search" style="width: 20px; height:26px;"></i></button>
           
            <% end %>
      </div>
    </form>
  </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2 class="text-uppercase">Produits populaires</h2>
          </div>
        </div>
      
 
   <div id="acheter" class="row">
          <%prod = []%>
          <%@products.order(created_at: :DESC).each do |product|%>
            <%prod << product%>
          <%end%>
          <%if prod.length == 0%>
            <h3>Pas de produits pour le moment</h3>
          <%elsif prod.length <= 6%>
          <% for i in 0..prod.length-1%>

          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <span class="tag">Sale</span>
                <%if prod[i].picture.attached?%>
                    <a href="/products/<%=prod[i].id%>" data-method="get"><%= image_tag prod[i].picture, alt: 'picture', class:"card-img-top", height:"300px" %></a>
                  <%else%>
                  <a href="/products/<%=prod[i].id%>" data-method="get"><img class="card-img-top" height="300px" src="<%= prod[i].image_url %>" alt="Card image cap"></a>
                <%end%>
                <h3 class="text-dark"><a href="/products/<%=prod[i].id%>" data-method="get"><%= prod[i].title%></a></h3>
                  <p class="price"><%= prod[i].price%> Ar</p>
                  <a href="<%= carts_path(prod[i].id)%>" class="btn btn-warning btn-sm" data-method="post">Ajouter au panier</a>            
                  <%= prod[i].likes.count %> <%= (prod[i].likes.count) > 1 ? 'likes' : ''%><%= link_to '👍', product_likes_path(prod[i]), method: :post%>

           </div>
          <%end%>
          <%else%>
           <% for i in 0..5%>

          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <span class="tag">Sale</span>
            <%if prod[i].picture.attached?%>
                <a href="/products/<%=prod[i].id%>" data-method="get"><%= image_tag prod[i].picture, alt: 'picture', class:"card-img-top", height:"300px" %></a>
                  <%else%>
                  <a href="/products/<%=prod[i].id%>" data-method="get"><img class="card-img-top" height="300px" src="<%= prod[i].image_url %>" alt="Card image cap"></a>
                <%end%>
                <h3 class="text-dark"><a href="/products/<%=prod[i].id%>" data-method="get"><%= prod[i].title%></a></h3>
                <p class="price"><%= prod[i].price%></p>
                <a href="<%= carts_path(prod[i].id)%>" class="btn btn-warning btn-sm" data-method="post">Ajouter au panier</a>
                  <%= prod[i].likes.count %> <%= (prod[i].likes.count) > 1 ? 'likes' : ''%><%= link_to '👍', product_likes_path(prod[i]), method: :post%>
          </div>
          <%end%>
         <%end%>
      </div>

      <div class="row mt-5">
        <%unless prod.length == 0%>
          <div class="col-12 text-center" style="margin-bottom: 7%;">
            <a href="<%=accueil_index_path%>" class="btn btn-warning px-4 py-3">Voir tous les produits</a>
          </div>
       <%end%>
      </div>
    
</div>
        



    <div class="site-section bg-secondary bg-image" style="background-image: url('https://www.mafermeenville.fr/wp-content/uploads/2017/09/ma-ferme-en-ville-fruits-et-legumes-800x600.jpg');">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('https://www.mafermeenville.fr/wp-content/uploads/2017/09/ma-ferme-en-ville-fruits-et-legumes-800x600.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>MadaMarket</h2>
                <p style="color:black;">Une entreprise digitale pour la promotion des produits locaux malagasy.
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('http://www.floralykomba.com/uploads/images/excursion/vil2.jpg');">
              <div class="banner-1-inner ml-auto  align-self-center">
                <h2>Partenaires des artisans</h2>
                <p style="color:black;">Porter ensemble un engagement mutuel pour le développement des entreprises artisanales.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <span id="contact">
      
       <%= render 'layouts/footer'%>
      
    </span>
   
  </div>
      <% end %>
<%else%>
 <%= render 'layouts/nav' %>
 <style type="text/css">
      z-index: 10;
}
#search-btn:hover {
  cursor: pointer;
  /*color: gold;*/
  background-color: #ffc107;
}
.a{
   margin-left: 85%;
   
}
.input-group-addon{
  margin-left: 450px;
 
  margin-top: -72.5px;
}
</style>



<div class="site-wrap">

</div>

    <div class="site-blocks-cover" style="background-image: url('https://www.missions-mmm.com/wp-content/uploads/2019/04/francfort-dusseldorf-retail-store-tour-allemagne-missions-mmm-tendances-bio-2.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
            <div class="site-block-cover-content text-center">
              <h2 class="sub-title"  id="body">Idée Voandalana</h2>
              <h1>FAITES VOS ACHATS EN LIGNE</h1>
              <p>
                <a href="#acheter" class="btn btn-warning px-5 py-3" data-method="get">ACHETER MAINTENANT</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row align-items-stretch section-overlap">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap bg-primary h-100">
              <a href="#" class="h-100">
                <h5>Livraison <br> à Domicile</h5>
                <p>
                  Partout dans le monde
                  <strong>Faites-vous livrer dans les plus brefs délais.</strong>
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="banner-wrap h-100">
              <a href="<%= accueil_index_path%>" class="h-100">
                <h5>Produits <br> de meilleures qualités</h5>
                <p>
                  La qualité au coeur de nos produits
                  <strong>Une offre large de produits de qualité aux meilleurs prix.</strong>
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <%if current_user%>
            <div class="banner-wrap bg-warning h-100">
              <a href="<%= cart_path(current_user.id)%>" class="h-100">
                <h5>Paiement <br> en ligne</h5>
                <p>
                  Moyen de paiement en ligne sécurisé
                  <strong>Payez vos achats par carte bleue. </strong>
                </p>
              </a>
            </div>
            <%else%>
              <div class="banner-wrap bg-warning h-100">
              <a href="<%= root_path%>" class="h-100">
                <h5>Paiement <br> en ligne</h5>
                <p>
                  Moyen de paiement en ligne sécurisé
                  <strong>Payez vos achats par carte bleue. </strong>
                </p>
              </a>
            </div>
            <%end%>
          </div>

        </div>
      </div>
    </div><br><br>

  <div class="row">
    <form class="form" >
      <div class="input-group-addon">
          <%= search_form_for @q do |f| %>
           <%= f.text_field :title_cont, class:"form-control", placeholder:"Recherche",type: "text" , id: "mysearch" %>
     <button class="btn btn-warning btn-sm input-group-addon " type="submit" id="search-btn"><i class="fa fa-search" style="width: 20px; height:26px;"></i></button>
           
            <% end %>
      </div>
    </form>
  </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2 class="text-uppercase">Produits populaires</h2>
          </div>
        </div>
      
 
   <div id="acheter" class="row">
          <%prod = []%>
          <%@products.order(created_at: :DESC).each do |product|%>
            <%prod << product%>
          <%end%>
          <%if prod.length == 0%>
            <h3>Pas de produits pour le moment</h3>
          <%elsif prod.length <= 6%>
          <% for i in 0..prod.length-1%>

          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <span class="tag">Sale</span>
                <%if prod[i].picture.attached?%>
                    <a href="/products/<%=prod[i].id%>" data-method="get"><%= image_tag prod[i].picture, alt: 'picture', class:"card-img-top", height:"300px" %></a>
                  <%else%>
                  <a href="/products/<%=prod[i].id%>" data-method="get"><img class="card-img-top" height="300px" src="<%= prod[i].image_url %>" alt="Card image cap"></a>
                <%end%>
                <h3 class="text-dark"><a href="/products/<%=prod[i].id%>" data-method="get"><%= prod[i].title%></a></h3>
                  <p class="price"><%= prod[i].price%> Ar</p>
                  <a href="<%= carts_path(prod[i].id)%>" class="btn btn-warning btn-sm" data-method="post">Ajouter au panier</a>            
                  <%= prod[i].likes.count %> <%= (prod[i].likes.count) > 1 ? 'likes' : ''%><%= link_to '👍', product_likes_path(prod[i]), method: :post%>

           </div>
          <%end%>
          <%else%>
           <% for i in 0..5%>

          <div class="col-sm-6 col-lg-4 text-center item mb-4">
            <span class="tag">Sale</span>
            <%if prod[i].picture.attached?%>
                <a href="/products/<%=prod[i].id%>" data-method="get"><%= image_tag prod[i].picture, alt: 'picture', class:"card-img-top", height:"300px" %></a>
                  <%else%>
                  <a href="/products/<%=prod[i].id%>" data-method="get"><img class="card-img-top" height="300px" src="<%= prod[i].image_url %>" alt="Card image cap"></a>
                <%end%>
                <h3 class="text-dark"><a href="/products/<%=prod[i].id%>" data-method="get"><%= prod[i].title%></a></h3>
                <p class="price"><%= prod[i].price%></p>
                <a href="<%= carts_path(prod[i].id)%>" class="btn btn-warning btn-sm" data-method="post">Ajouter au panier</a>
                  <%= prod[i].likes.count %> <%= (prod[i].likes.count) > 1 ? 'likes' : ''%><%= link_to '👍', product_likes_path(prod[i]), method: :post%>
          </div>
          <%end%>
         <%end%>
      </div>

      <div class="row mt-5">
        <%unless prod.length == 0%>
          <div class="col-12 text-center" style="margin-bottom: 7%;">
            <a href="<%=accueil_index_path%>" class="btn btn-warning px-4 py-3">Voir tous les produits</a>
          </div>
       <%end%>
      </div>
    
</div>
        



    <div class="site-section bg-secondary bg-image" style="background-image: url('https://www.mafermeenville.fr/wp-content/uploads/2017/09/ma-ferme-en-ville-fruits-et-legumes-800x600.jpg');">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('https://www.mafermeenville.fr/wp-content/uploads/2017/09/ma-ferme-en-ville-fruits-et-legumes-800x600.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>MadaMarket</h2>
                <p style="color:black;">Une entreprise digitale pour la promotion des produits locaux malagasy.
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('http://www.floralykomba.com/uploads/images/excursion/vil2.jpg');">
              <div class="banner-1-inner ml-auto  align-self-center">
                <h2>Partenaires des artisans</h2>
                <p style="color:black;">Porter ensemble un engagement mutuel pour le développement des entreprises artisanales.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <span id="contact">
      
       <%= render 'layouts/footer'%>
      
    </span>
   
  </div>
<%end%>


