<header class="masthead">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><i class="fas fa-atom"></i>
      <a target="_top" href="#" ><img src="https://blog.flamingtext.com/blog/2019/09/12/flamingtext_com_1568287169_479583566.png" border="0" alt="Logo MadaMarket" title="Logo MadaMarket"></a></a>
      
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger menu" href="#services">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger menu" href="#portfolio">Produits</a>
          </li>
           <li class="dropdown nav-link catégorie">
            <span>Catégories</span>
            <div class="dropdown-content catégorie">
            <%Category.all.each do |c|%>
              <a href="#"><%=c.title%></a>
            <%end%>
        
    
        </div>
        </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger menu" href="#about">Contact</a>
          </li>
      </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">       
          
          <%if current_user%>
            <li class="nav-item dropdown" style="position: absolute; right: 10%; top: 10%;color: white;">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "My profile", user_path(current_user.id), :method => 'get', class: "dropdown-item"%>
                <%= link_to "Deconnect", destroy_user_session_path, :method => :delete, class: "dropdown-item"%>
              </div>
            </li>
            <a href="<%= cart_path(current_user.id)%>"><span class="panier" style="position: absolute; right: 2%; top: 5%;"><img src="https://cdn.pixabay.com/photo/2014/04/02/10/53/shopping-cart-304843_960_720.png" width="50px" height="50px" ></span></a>

          <%else%>
            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Connexion
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Sign up", new_user_registration_path, :method => 'get', class: "dropdown-item"%>
              <%= link_to "Log in", new_user_session_path, :method => 'get', class: "dropdown-item"%>
              </div>
            </li>
          <%end%>
        </ul>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Fait votre achat en ligne</div>
      </div>
    </div>
</header>
 