<div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="/" class="js-logo-clone" data-method="get">Madamarket</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="active"><a href="<%= super_admin_users_path%>" data-method="get">Fournisseurs</a></li>
                <li><a href="<%= super_admin_products_path%>" data-method="get">Produits</a></li>                        
          <%if current_user%>
            <li class="has-children">
                 <span class="dropdown-toggle"><a href="">Profil</a></span>
              <ul class="dropdown">
                  <li><a href="<%= user_path(current_user.id)%>" data-method="get">Mon Profil</a></li>
                  <li><a href="<%= destroy_user_session_path%>" data-method="delete">Déconnexion</a></li>
              </ul>
            </li>

          <%else%>
           <li class="has-children">
                <span class="dropdown-toggle"><a href="">Connexion</a></span>
              <ul class="dropdown">
                  <li><a href="<%= new_user_registration_path%>" data-method="get">S'inscrire</a></li>
                  <li><a href="<%= new_user_session_path%>" data-method="get">Se connecter</a></li>
              </ul>
            </li>
          <%end%>
        </ul>
      </nav>
    </div>
          <div class="icons">
            <a href="" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none" data-method="get"><span class="fas fa-bars"></span></a>
          </div>
        </div>
      </div>
    </div>
